{#
    page detail des produits
    Nom du bundle : EcommerceBundle
    Controller : Produit
    Action : detail
    Pour tester :slug-du-site/produit/id-produit
    Route : emh_ecommerce_detail_produit - Paramètre : slug et id
    Variable disponibles:
        -produit : detailo d'un produit
                    id, nomFr, nomEn, descriptionFr, descriptionEn, image, prix
            
#}

{% extends '::base.html.twig' %}
{%block body%}

<h1>detail du produit</h1>

<p> nom du produit: {{ produits.nomFr }} <br>
    description:    {{ produits.descriptionFr}} <br>  
     prix:          {{ produits.prix }} <br>
    <img src="{{asset ('images/'~produits.image)}}"<br>
</p>


<a href="{{path('emh_membres_achat', {'id': produits.id, 'slug': sites.slug})}}">Ajout au panier </a> <br>



{%endblock%}